.title__div {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

}
@media (min-width: 0){
    .title__profile{
        padding-top:2rem ;
    }
}
@media (min-width: 768px){
    .title__div {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 48px;
    }
}